<settings>
 <servers>
  <server>
   <!-- this id should match the id of the repo server in pom.xml -->
   <id>biswo</id>
   <username>admin</username>
   <password>admin123</password>
  </server>
 </servers>
</settings>

<proxies>
  <proxy>
     <active>true</active>
     <protocol>https</protocol>
     <host>cache.backside.sv2.tellme.com</host>
     <port>3128</port>
     <nonProxyHosts>localhost|10.*|*.sv2.247-inc.net|*.sv2.tellme.com</nonProxyHosts>
   </proxy>
</proxies>
